<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
    <div class="container2">

      <div #paypal></div> 

        <input type="text" class="Suma" placeholder="Adauga suma si apasa CreateQR" [(ngModel)]="qrData">
        
        <button (click)="createCode()"  class="qrButt">Create QRCode</button>
        
    <div class="containerMiddle">
                <div class="qr_code">

                    <ngx-qrcode       
                            [value] = "createdCode"
                            errorCorrectionLevel = "L"
                            [elementType]="'img'"
                    >  </ngx-qrcode>     
                      <!-- Explicatie errorCorrection: https://www.fastprint.co.uk/blog/quick-response-codes-what-are-they-and-how-do-they-work.html -->
                     <p>You will receive <strong>{{createdCode}}</strong></p>             
                </div>   

            <div class="mij" *ngIf="ShowMsg" >
                <p class="mij" *ngIf="!status_oD">Plata in procesare...</p>         
                <p class="mij" *ngIf="status_oD">Plata finalizata cu succes!</p> 
            </div>
    </div>


    <button class="gback" (click)="gback()">
      Back
    </button>


<!-- 
     <button  (click)="Apasa()" >
      Back
    </button> -->


  
  
    </div>
  </body>
</html>


